<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모기활동지수</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </head>
  <body>
  </body>
</html>
    <style>
        #chartBox{
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
        div > h1 {
            text-align: center;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">모기모기</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
            </li>
            <li class="nav-today">
              <a class="nav-link" href="/chart">예보단계</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="/third">현황</a>
              
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul> -->
            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>


    <h5 align= 'left'></align= 'left' h5>
    <!-- 모기지수 발생일 -->
    {{data['MosquitoStatus']['row'][0]['MOSQUITO_DATE']}}
    <hr>

    모기지수(수변부)
    "{{data['MosquitoStatus']['row'][0]['MOSQUITO_VALUE_WATER']}}"
    <hr>

    모기지수(주거지)
    "{{data['MosquitoStatus']['row'][0]['MOSQUITO_VALUE_HOUSE']}}"
    <hr>
    
    모기지수(공원)
    "{{data['MosquitoStatus']['row'][0]['MOSQUITO_VALUE_PARK']}}"
    
    <hr>
    <div id= 'chartBox'>
        <h1>오늘의 모기활동 지수 </h1>
        <canvas id='date'></canvas>
    </div>
    
    <script>
    //
    var ctx = document.getElementById('date').getContext('2d');
    var myChart = new Chart(ctx, {
    'type': 'doughnut',
    'data': {
        'labels': ["{{data['MosquitoStatus']['row'][0]['MOSQUITO_VALUE_WATER']}}", "{{data['MosquitoStatus']['row'][0]['MOSQUITO_VALUE_HOUSE']}}", "{{data['MosquitoStatus']['row'][0]['MOSQUITO_VALUE_PARK']}}"],
        'datasets': [{
            'label': 'My First Dataset',
            'data': [300, 50, 100],
            'backgroundColor': [
                'rgb(0,191,255)',  //water
                'rgb(255,69,0)', //house
                'rgb(124,252,0)'] //forest
        }]
    }
});
    </script>

</body>
</html>

